@charset "utf-8";

.ui-content {
	background-color: #f1e7dc;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding:0;
}
.ui-body-c {
	background-color: #f1e7dc;
	background-image:none;
}
.ui-header {
	text-align: center;	
}
div.ui-content > ul {
	list-style-type: none;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
}
div.ui-content > ul li {
	padding: 0px;
	width: 70px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 9px;
	height: 90px;
}
div.ui-content > ul li a{
	color: #000;
	text-decoration: none;	
}
div.ui-content > ul li p {
	margin: 0px;
	padding: 0px;	
}
#callAjaxForm > div{
	height: 100%;
	padding-top: 25%;
	padding-bottom: 25%;
}
.logo {
	float:left;
}
#callAjaxPage > div.ui-bar-a.ui-footer {
	position: absolute;
	bottom: 0px;
}
#callAjaxPage > div.ui-bar-a.ui-footer a{
	color: #FFF;
	text-decoration: none;	
}
.ui-br {
	border-bottom:none;
}
#drugastranica > div.ui-bar-a.ui-footer{
	bottom: 0px;
	margin-top: 50px;
}
#drugastranica > div.ui-bar-a.ui-footer a{
	color: #FFF;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
.zadnji {
	margin-bottom:80px;
}
